
<div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-warning btn-sm">
    <input type="checkbox" checked autocomplete="off">口味偏酸
  </label>
  <label class="btn btn-outline-warning btn-sm">
    <input type="checkbox" checked autocomplete="off">口味偏甜
  </label>
  <label class="btn btn-outline-success btn-sm">
    <input type="checkbox" checked autocomplete="off">耶加雪菲
  </label>
  <label class="btn btn-outline-primary btn-sm">
    <input type="checkbox" checked autocomplete="off">有機
  </label>
  <label class="btn btn-outline-info btn-sm">
    <input type="checkbox" checked autocomplete="off">水洗處理
  </label>
  <label class="btn btn-outline-info btn-sm">
    <input type="checkbox" checked autocomplete="off">日曬處理
  </label>
   <!-- <input class="btn btn-primary" type="submit" value="送出"> -->
</div>
